/* home page */

body {
  color: #1d1d24;
}

.background-image {
  position: absolute;
  z-index: -1;
}

.header {
  display: flex;
}

.header-list {
  display: flex;
  margin-top: 60px;
  margin-left: 690px;
}

.header-ul {
  display: flex;
}

.list {
  list-style-type: none;
  margin-left: 45px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.trydo-logo {
  margin-left: 60px;
  margin-top: 60px;
}

.buy-now-btn {
  margin-left: 50px;
  background: transparent;
  color: white;
  font-size: 18px;
  padding: 10px 20px 40px 20px;
}

.buy-now-btn.ant-btn:hover {
  border: none;
  color: white;
  font-weight: 400;
}

.digital-agency-text {
  font-size: 140px;
  font-weight: 700;
  margin-left: 120px;
  color: rgb(212, 49, 49);
  font-family: Montserrat, sans-serif;
}

.star-box {
  margin-left: 13px;
}

.Business-Stratagy {
  color: white;
  font-size: 30px;
}

.star-box-paragraph {
  color: white;
  font-size: 20px;
}

.three-box-flex {
  display: flex;
  justify-content: space-around;
}

/* home about */

.mountain-img {
  margin-left: 120px;
  margin-top: 125px;
  border-radius: 10px;
  width: 660px;
  height: 800px;
}

.mountain-img-main {
  display: flex;
}

.about-paragraph {
  margin-top: 300px;
  margin-left: 80px;
}

.about-heading {
  font-size: 60px;
  font-weight: 700;
}

.about-text {
  font-size: 22px;
}

.who-we-are {
  display: flex;
}

.who {
  font-size: 40px;
  font-weight: 600;
}

.who-paragraph {
  font-size: 25px;
  font-weight: 400;
}

.second-who-paragraph {
  margin-left: 40px;
}

/* service */

.service-box {
  margin-left: 120px;
  margin-top: 300px;
}

.service-heading {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 0px;
}

.service-paragraph {
  font-size: 26px;
}

.request-custom-service {
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
}

.requ {
  border-bottom: 1px solid red;
}

.request-custom-service:hover {
  cursor: pointer;
  color: #f9004d;
  border-bottom: 1px solid red;
  width: 68%;
}

.svg-icon {
  color: #f9004d;
  font-size: 60px;
}

.svg-icon:hover {
  color: white;
}

.business-website-box {
  display: flex;
  margin-top: 404px;
}

.main-service {
  display: flex;
}

.box-paragraph {
  font-size: 22px;
  font-weight: 400;
}

.website-development-box {
  margin-left: 140px;
}

.business-stratagy-box {
  margin-left: 170px;
}

.business-stratagy-box:hover {
  color: white;
  cursor: pointer;
  background-color: #f9004d;
  border-radius: 17px;
  padding: 22px;
}

.website-development-box:hover {
  color: white;
  cursor: pointer;
  background-color: #f9004d;
  border-radius: 17px;
  padding: 22px;
}

.marketing-mobile-box {
  display: flex;
  margin-left: 780px;
  margin-top: 30px;
}

.mobile-app-development-box {
  margin-left: 163px;
}

.marketing-reporting-box:hover {
  color: white;
  cursor: pointer;
  background-color: #f9004d;
  border-radius: 17px;
  padding: 22px;
}

.mobile-app-development-box:hover {
  color: white;
  cursor: pointer;
  background-color: #f9004d;
  border-radius: 17px;
  padding: 22px;
}

/* our work */

.our-work{
  font-size: 72px;
}

.our-work-paragraph{
  font-size: 23px;
}

.our-works-main{
  margin-left: 120px;
  margin-top: 250px;
}